a:link {text-decoration:none;}   
a:visited {color: gray; text-decoration:none;} /* visited link */
a:hover {color: black;}   /* mouse over link */
a:active {color: black; text-decoration:underline;}  /* selected link */


h1 a:link {color:#FFFFFF;}
h1 a:visited {color:#FFFFFF;}
h1 a:hover {color: black;}


header {
	margin-left: -10px;
	height: 60px;
	text-align: left;
	font-size: 24px;
	float: clear;
	background-color: gray;
	padding-left: 10px;}

.weeks {
padding: 5px;
float: left;
text-align: center;
width:100px;
height:450px;

}

.date {
	float:left;
	padding: 5px 15px 5px 15px;
}

body {font-family:Georgia;}

.ref {font-size: 12px}

footer {
	clear:both;
	background-color: gray;
	font-size: 12px;
	color:#FFFFFF;
	text-align: center;	
	height: 30px;


}